/* Zerando o html */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Variaveis alocadas */
:root {
    --fundoVerde: #27c66f;
    --fundoAzul: #082dc4;
    --fundoAmarelo: #FEED44;
}

p {
    padding: 5px;
}

nav {
    height: 80px;
    background-color: var(--fundoAmarelo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 15vw;
}

nav a {
    text-decoration: none;
    color: #222222;
    padding: 0 1.5rem;
}

nav a:hover {
    color: var(--fundoVerde);
    transition: 0.3s;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

#CTA-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: var(--fundoAmarelo);
    background: var(--fundoAzul);
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

#CTA-button:hover {
    background-color: var(--fundoVerde);
    color: yellow;
    transition: 0.4s;
}

.containerHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    padding: 3rem 15vw;
    background-color: var(--fundoAmarelo);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #222222;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-image {
    width: 85%;
    height: 90%;
}

.containerAbout {
    display: grid;
    grid-template-columns: 1fr;
    height: 65vh;
    padding: 3rem 20vw;
    background-color: #27c66f;
}

.columnrightAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0rem 2rem;
}

.columnrightAbout h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.columnrightAbout p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.columnleftAbout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 80%;
    height: 80%;
}

form {
    display: flex;
    align-self: center;
    height: 93vh;
    background-color: var(--fundoAzul);
    color: #fff;
    padding: 8vh 30vw;
}

form > section {
    padding: 2%;
    border-radius: 20px;
    background-color: #00000040;
}

div.radiogroup {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select, textarea {
    width: 40vw;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    margin: 5px;
}

form h2 {
    margin-bottom: 60px;
    text-align: center;
    font-size: 2rem;
}

#form-button {
    margin-top: 30px;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #222222;
    background: #FEED44;
    cursor: pointer;
    border-radius: 50px;
}

#form-button:hover {
    background: #fff;
    transition: 0.3s;
}

footer p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

footer p > a {
    text-decoration: none;
}